services:
  - type: web
    name: chat-app-backend
    rootDir: server
    buildCommand: npm install
    startCommand: node server.js
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 18
